* {
  background-color: #fffdfa;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: keep-all;
}

input {
  border: 0;
  outline: 0;
}

button {
  border: 0;
  outline: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.App {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-div {
  z-index: 3;
  position: absolute;
  top: 30px;
  right: 50px;
}

.menu-button > .logo {
  height: 20px;
  font-size: 14px;
}

.menu-button:hover {
  color: blue;
}

.float-btn {
  position: fixed;
  z-index: 2;
  bottom: 40px;
  right: 70px;
  width: 54px;
  height: 54px;
  background-color: black;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0px 0px;

}

.float-btn > .logo {
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: white;
}

.float-btn:hover {
  background-color: white;
}
.float-btn:hover > .logo {
  color: black;
}

.title {
  margin-top: 60px;
}

.sub-title {
  font-size: 18px;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
}

.search-bar {
  position: relative;
  margin-top: 30px;
  width: 330px;
  height: 50px;
}

.search-bar input {
  
  padding-left: 20px;
  padding-top: 10px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid black;

  width: 100%;
  height: 100%;
  background-color: inherit;
  font-size: 14px;
}

.search-bar .logo {
  position: absolute;
  top: 40%;
  right: 10px;
}

.calendar-list {
  margin-top: 20px;
  width: 374px;
  display: flex;
  flex-wrap: wrap;
}

.calendar-item {
  width: 145px;
  height: 145px;
  margin: 20px;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 22px;
  
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-item:hover {
  width: 145px;
  height: 145px;
  margin: 20px;
  background-color: black;
  border: 1.5px solid black;
  border-radius: 22px;
  
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-item:hover .item-title {
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.calendar-item .item-title {
  font-size: 15px;
  padding: 10px;
  height: min-content;
  background-color: white;
  width: 80%;
}

.calendar-item .follow-count-box {
  background-color: transparent;
  font-size: 12px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
}

.calendar-item:hover .follow-count {
  background-color: transparent;
}

.user-logo {
  margin-right: 5px;
  background-color: transparent;
}

/* calendar page 관련 */
.cal-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.center-col{
  max-width: 1000px;
  position: relative;
}

.cal-title {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 0 17px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-size: 17px;
  font-weight: 600;
}


.react-calendar {
  background-color: white;
  margin: 130px 50px 0px;
  padding: 10px;
  width: auto;
  border: 1.2px solid #a0a096;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 0em;
  
}
.react-calendar__navigation button {
  min-width: 44px;
  color: black;
  background-color: white;
}

.react-calendar__navigation__label__labelText{
  font-weight: bold;
  color: #52504b;
}


.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 1em;
  text-decoration: none;
  background-color: white;
}

.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none;
}


.react-calendar__month-view__days {
  background-color: white;
}


.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__month-view__days__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  padding: 6px 4px 0px 4px;
  background: none;
  height: 75px;
}

.react-calendar__month-view__days__day abbr {
  background-color: transparent;
}

.tile-div {
  background-color: transparent;
  
}

.tile-content {
  background-color: transparent;
  font-size: 14px;
}


.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border: 1px solid #76baff;
  border-radius: 10px;
}
.react-calendar__tile--now {
  background: #92c7fc;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border: 1px solid #76baff;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  border: 1px solid #76baff;
}
.react-calendar__tile--active {
  border: 1px solid #76baff;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border: 1px solid #76baff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  border: 1px solid #76baff;
}

.btn-div {
  position: relative;
  padding-right: 50px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.round-button {
  font-size: 15px;
  margin: 30px 0px 30px 20px;
  padding: 0px 10px;
  height: 50px;
  background-color: transparent;
  color: black;
  border: 1.2px solid #a0a096;
  border-radius: 10px;
}

.round-button:hover{
  background-color: gray;
  color: white;
  font-weight: bold;
  border: none;
}


/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  text-align: center;
  position: relative;
  width: 90%;
  height: 300px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: white;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px 10px 16px 16px;
  background-color: white;
  font-weight: 700;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: white;
}
.modal > section  main {
  height: 200px;
  padding: 16px;
  background-color: white;
}

.modal > section > footer button {
  padding: 6px 12px;
  color: white;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
.modal input {
  width: 80%;
  background-color: white;
  color: black;
  display: block;
  border: none;
  margin: 15px;
}
.modal form {
  background-color: white;
}

.modal form > button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100px;
  bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




@media screen and (min-width: 600px) {
  .calendar-list{
    width: 555px;
  }

  .search-bar {
    width: 540px;
  }
}

@media screen and (min-width: 800px) {
  .calendar-list{
    width: 740px;
  }

  .search-bar {
    width: 680px;
  }
}


